<h1>All_Burgers</h1>
<ul>
    {{#each burgers}}
    <li>
        <p><span class="label">ID:</span> {{this.id}}</p>
        <p><span class="label">burger_name:</span> {{this.burger_name}}</p>
        <p><span class="label">devour:</span> {{this.devour}}</p>


    </li>
    {{/each}}
</ul>